<header class="d-flex justify-content-between px-4">
  <div class="logo">
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/android/android-original.svg"
      alt="Logo image"
    />
  </div>

  <nav class="d-flex align-items-center">
    <ul class="d-flex gap-5">
      <li><a href="/">Головна</a></li>
      <li><a href="/resume">Резюме</a></li>
      <li><a href="/users">Юзери</a></li>
      <li><a href="/signin">Логін</a></li>
    </ul>
  </nav>

  <div class="avatar">
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/argocd/argocd-original.svg"
      alt="Avatar image"
    />
  </div>
</header>
